@import "../partials/colors";

#firstSection {
    background-color: $purple;
    padding: 4em 8em 6em;

    div {
        width: 50%;

        h1 {
            color: $darkPurple;
            font-size: 4em;
            font-weight: 900;
            line-height: 95%;
        }

        h2 {
            margin-top: 2%;
            color: $whitepink;
            font-weight: 300;
        }

        div {
            button {
                margin-top: 4%;
                margin-right: 2%;
                padding: 1.2em;
                border: none;
                border-radius: 0.3em;

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            #blue {
                background-color: $blue;
            }

            #yellow {
                background-color: $yellow;
            }

            #green {
                background-color: $green;
            }
        }
    }

    img {
        width: 25em;
        z-index: 1000;
        position: absolute;
        top: 20%;
        right: 7%;
        border-radius: 1.5em;
        box-shadow: 0px 11px 22px 25px rgba(0,0,0,0.1);
        border: 1px solid $whitepink;
    }
}