@import "../partials/colors";

header {
    background-color: $purple;
    display: flex;
    flex-wrap: wrap;
    padding: 2em 8em;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: medium;
    }

    nav {
        ul {
            list-style: none;

            li {
                display: inline-block;
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: $whitepink;
                    }
                }
            }
        }
    }
}