@import "../mixins/mixins.scss";

#secondSection {
    padding: 8em 1em;
    @include flexwrap;
    justify-content: center;
    align-items: center;

    img {
        width: 25em;
        margin-right: 1%;
        border-radius: 1.5em;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }
}